body{
    font-family: cambria,arial,'Times New Roman', Times, serif;
    
}
header{
    background-color:rgb(4, 21, 57) ;
    color:aliceblue;
    padding: 10px;
    margin:0;
    overflow:hidden;
}
header img{
    float:left;
    margin-right: 10px;
}
header h1{
    padding: 0;
    margin: 0;
    font-size: 2.5em;
}
header h2{
    padding: 0;
    margin: 0;
}
.nav ul{
    list-style-type: none;
    background-color:rgb(210, 221, 230) ;
    padding: 0;
    margin:0;
    overflow: hidden;
}
.nav li{
    float: left;
}
.nav li a{
    text-decoration: none;
    color: black;
    padding: 10px 25px;
    margin:0;
    display: block;   
}
.nav li a:hover{
    background-color:black;
    color:beige;
}
.nav li a.active{
    background-color:rgb(174, 20, 20);
    color:beige;
}

.content {
    padding: 0 10px;
    border: 2px solid rgb(210, 221, 230);

}

.content h1{
    margin:20px 0 0;
    font-size: 1.4em;
    color: rgb(80, 80, 118);
}

.content h2{
    margin:20px 0 0;
    font-size: 1.4em;
    color: rgb(61, 61, 96);
}
.content h3{
    margin:20px 0 0;
    font-size: 1.4em;
    color: rgb(177, 57, 133);
}
.content img {
    float: right;
    margin: 10px;
    box-shadow:2px 3px 5px 1px;
}
.footer{
    padding: 0 10px;
    color:rgb(4, 21, 57) ;
    text-align: center;
}

